<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body,
html {
  height: 100%;
  display: grid;
  margin: 0;
  margin: 0;
}
body {
  background-color: #212121;
  padding: 0;
  margin: 0;
}
</style>

